{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th width="12%">Project</th>
                    <th width="12%">Owner</th>
                    <th width="12%">Change time</th>
                    <th width="12%">Change delta actual design</th>
                    <th width="12%">Resulting actual design</th>
                    <th width="12%">Change delta actual development</th>
                    <th width="12%">Resulting actual development:</th>
                    <th width="12%">Change delta actual testing</th>
                    <th width="12%">Resulting actual testing</th>
                </tr>
            </thead>
            <tbody>
                {% for history in history_of_changes %}
                    <tr>
                        <td>
                            {% spaceless %}
                                <p>{{ history.project.title }}</p>

                            {% endspaceless %}
                        </td>
                        <td>{{ history.owner }}</td>
                        <td>{{ history.change_time }}</td>
                        <td>{{ history.change_delta_actual_design }}</td>
                        <td>{{ history.resulting_actual_design }}</td>
                        <td>{{ history.change_delta_actual_development }}</td>
                        <td>{{ history.resulting_actual_development }}</td>
                        <td>{{ history.change_delta_actual_testing }}</td>
                        <td>{{ history.resulting_actual_testing }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}