{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
    <form action="" method="GET">
        {{ filter.form }}
        <button type="submit">Search</button>
    </form>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th width="12%">Project</th>
                    <th width="12%">Owner</th>
                    <th width="12%">Change time</th>
                    <th width="12%">Changes</th>
                </tr>
            </thead>
            <tbody>
                {% for history in filter.qs %}
                    <tr>
                        <td>
                            {% spaceless %}
                                <a href="">{{ history.project.title }}</a>

                            {% endspaceless %}
                        </td>
                        <td>{{ history.owner }}</td>
                        <td>{{ history.change_time }}</td>
                        <td><a href="{{ history.get_absolute_url }}">view changes</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}