{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th width="12%">Change delta actual design</th>
                    <th width="12%">Resulting actual design</th>
                    <th width="12%">Change delta actual development</th>
                    <th width="12%">Resulting actual development</th>
                    <th width="12%">Change delta actual testing</th>
                    <th width="12%">Resulting actual testing</th>
                    <th width="12%">Initial actual design</th>
                    <th width="12%">Initial actual development</th>
                    <th width="12%">Initial actual testing:</th>

                </tr>
            </thead>
            <tbody>
                {% for history in history_of_changes %}
                    <tr>
                        <td>{{ history.change_delta_actual_design }}</td>
                        <td>{{ history.resulting_actual_design }}</td>
                        <td>{{ history.change_delta_actual_development }}</td>
                        <td>{{ history.resulting_actual_development }}</td>
                        <td>{{ history.change_delta_actual_testing }}</td>
                        <td>{{ history.resulting_actual_testing }}</td>
                        {% if initial_data %}
                            {% for init in initial_data %}
                                    <td>{{ init.initial_actual_design }}</td>
                                    <td>{{ init.initial_actual_development }}</td>
                                    <td>{{ init.initial_actual_testing }}</td>

                            {% endfor %}
                        {% else %}
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                        {% endif %}


                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}