<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card-body" style="align-items: center; justify-content: center; display: flex;">
        <form method="post" action="{{ tag.get_delete_url }}">
          {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Please, delete {{ tag.title }} tag</h1>


              <button class="btn btn-lg btn-primary btn-block" type="submit">Delete</button>
            <a href="{% url 'tag-list' %}">Back</a>
        </form>
    </div>
</body>
</html>